*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(35, 35, 35);
    color:rgb(78, 139, 139);
    font-family: sans-serif;
    height: 100vh;
    position:relative;
    margin: 0 2rem;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 2rem; */
    padding: 2rem;
}

.btn{
    display: inline-block;
    padding: 0 20px;
    outline: none;
    height: 2rem;
    /* margin-top: 1rem; */
    /* text-align: center; */
    /* justify-items: center; */
    /* align-items: center; */
}

input{
    width:95% ;
    height: 2rem;
    display:block;
    margin-bottom: 1rem;
    padding-left:10px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin: 2rem;
    left: 0;
    right: 0;
}